header {
  position: relative;
}

.hat {
  background-color: #000000;
  height: 50px;
  padding-top: 5px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.logo_small {
  display: inline-block;
  width: 40px;
  margin-left: 150px;
}
.logo_name_hat {
  display: inline-block;
  margin-top: 7px;
  color: #ffffff;
  position: absolute;
}

.phonenumber_hat {
  display: inline-block;
  color: #ffffff;
  width: 200px;
}

.main {
  background-image: url(images/header-bg.jpg);
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  height: 600px;
}


.main_text {
  display: inline-block;
  top: 25%;
}

.logo_name {
  font-family: 'Russo One', sans-serif;
  color: #ffffff;
  font-size: 80px;
  -webkit-text-stroke: .04em #2e67d1;
  text-shadow: 10px 10px 20px black, 0 0 1em #000;

}

.main_description {
  color: #fff;
  font-family: 'Play', sans-serif;
  text-shadow: 10px 10px 20px black, 0 0 1em #000;
  font-size: 50px;
  -webkit-text-stroke: .02em #2e67d1;
}

.service {
    padding: 40px;
}

.article_name {
  font-family: 'Play', sans-serif;
  text-align: center;
  padding: 20px 0 20px 0;
}

a {
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  color: #000000;
}


.block {
  display: inline-block;
  margin-left: auto;
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #e3e3e3;

}

.goods_machines {
  margin-right: auto;
}

.goods_image {
  margin: 0 auto;
  width: 200px;
  height: 140px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.partners {
  padding: 40px;
}
.map {
  padding: 40px;
}
.adress_text {
  font-family: 'Play', sans-serif;
  font-size: 20px;
  height: 400px;
}


@media screen and (max-width: 1146px) {
  .main_text {
      display: none;
    }
}